@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import 'react-toastify/dist/ReactToastify.css';


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: "Nunito", sans-serif;
  }
}





@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.animate-shake {
  animation: shake 0.25s;
  animation-iteration-count: 2;
}


@keyframes slide-up {
  0% { transform: translateY(50%); }
  100% { transform: translateY(0); }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out;
}


@keyframes guessLoading {
  0% { background-color: #6B7280; }  /* gray */
  33% { background-color: #FBBF24; }  /* yellow */
  66% { background-color: #10B981; }  /* green */
  100% { background-color: #6B7280; }  /* back to gray */
}

.animate-guessLoading {
  animation: guessLoading 1s infinite;
}



.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.debug {
  outline: 1px solid red;
}